 .leftarrow{

    height: 4rem;
    display: inline;
    z-index: 9;
    border-radius: 16px;
   
     position: absolute;
     top: 45.5%;
     left: 6%;
     
    
    
 }
 .leftarrow button{
    
    border: 2px solid black;
    background-color: black;
    border-radius: 32px;
   
    
    width: 0.01rem;
    height: 0.01rem;
   
 }

 img{
    height: 3rem;
    
   border-radius: 16px;
 }
 .on-white{
   color: white;
   transform: scale(3);
 }